body{
    background-color: aquamarine;
}
i{
    color: crimson;
    background-color: aquamarine;
}

ol{
    border: 3px solid black;
}
li{
    color: rgb(48, 2, 17);
}
b{
    color: darkgreen;
}
strong{
    color: darkmagenta;
}